.navbar .navbar-nav {
    display: inline-block;
    float: none;
    border-radius: 0px;
}
.navbar { 
	border-radius:0; 
}
.navbar .navbar-collapse {
    text-align: center;
    border-radius: 0px;
}
.no-padding{
	padding: 0px !important;
}
.padding-top-20{
	padding-top: 20px !important;
}
.padding-left-20{
	padding-left: 20px !important;
}
.color-black{
	color: black !important;
}
.color-white{
	color: white !important;
}
.margin-left-20{
	margin-left: 20px !important;
}
.ship-country{
	text-transform: uppercase;
	text-align: left;
	color: #506680;
	font-weight: bolder;
}
.branding{
	text-align: center;
}
.search-account-cart-section{
	text-align: right;
	text-transform: uppercase;
	color: #506680;
	font-weight: bolder;
}
.search-account-cart-section i{
	color: #929292;
}
.corousel-images{
	height: 600px !important;
	width: 100%;
}
.product-section{
	text-transform: uppercase;
	color: #334c6b;
	font-weight: bolder;
}
.product-section span{
	color: black !important;
}
.product-section-image{
	height: 200px;
	display: block;
	margin: 10px auto;
}
.watch{
	width: 200px;
}
.strap{
	width: 150px;
}
.share-section{
	color: #334c6b;
	text-transform: uppercase;
	font-size: 25px;
}
.facebook-icon{
	color: #4e71a8;
}
.twitter-icon{
	color: #1cb7eb;
}
.instagram-icon{
	color: #444444;
}
.google-plus-icon{
	color: #e3411f;
}
.youtube-icon{
	color: #ca3737;
}
.linkedin-icon{
	color: #1686b0;
}
.models-section{
	padding: 0px;
	left: 0px;
}
.models-section img{
	width: 100%;
	height: 200px;
	left: 0px;
	margin-left: 0px;
}
.subscribe-section{
	background-color: #d9d9d9;
	color: #254061 !important;
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
}
.subscribe-section input{
	font-size: 15px;
	font-weight: none;
}
.footer-logo{
	border-right: 2px solid #6e97c8;
}
.footer-menus{
	text-transform: uppercase;
	font-weight: bold;
}
.footer-payment-partners{
	text-transform: uppercase;
	font-weight: bolder;
}
.payment-partners{
	color: #939393;
	font-size: 30px;
}
.footer-terms-privacy-section{
	background-color: #d9d9d9;
	color: #254061 !important;
	padding: 10px;
	font-weight: bold;
	width: 100%;
}
.terms-section{
	border-right: 2px solid #6e97c8;
}
.filter-section{
	height: 500px;
	box-shadow: 2px 2px 2px #E0E0E0;
	border: 1px solid #E0E0E0;
}
.item-list{
	border: 1px solid #E0E0E0;
	margin-right: 30px;
	margin-bottom: 30px;
}
.item-list:hover{
	-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
    cursor: pointer;
}
.item-list-header{
	background-color: black;
	width: 100%;
	height: 40px;
	color: white;
	text-transform: uppercase;
	text-overflow: ellipsis;
	padding: 5px;
	padding-top: 10px;
}
.item-image{
	padding: 10px;
}
.item-image img{
	width: 150px;
	height: 150px;
}
.item-price{
	font-size: 25px;
	color: black;
	font-weight: bolder;
}
.item-button{
	padding: 5px;
}
form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
.theme-background{
	background-color: #000000 !important;
	border: 0px !important;
}
.product-thumbnail{
	border: 1px solid #F5F5F5;
	padding: 10px;
	height:	400px;
	width:	400px;
}
.product-color-active{
	border: 2px solid black;
}
.similar-colors{
	margin-left: 10px;
}
.product-color-thumbnail{
	height: 50px;
	width: 50px;
}
.product-color-thumbnail:hover{
	border: 2px solid black;
}
.product-price{
	color: black !important;
	background-color: #FFFFFF !important;
	text-align: left !important;
}
.product-image{
	padding: 5px;
	height: 80px;
	width: 80px;
}
.product-image:hover{
	border: 2px solid black;
	padding: 0px !important;
}
.modal-header, h4, .close {
    background-color: #000000;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}
.para-error{
	color: red !important;
}
.tooltip > .tooltip-inner {
  background-color: #000000 !important; 
  color: #FFFFFF; 
  border: 1px solid green; 
  padding: 15px;
  font-size: 20px;
}
.cart-count{
	height: 20px;
	width: 20px;
	border-radius: 50px;
	background-color: #BDBDBD;
	position: absolute;
	margin-left: -10px;
	text-align: center;
}