				/*-- index BEGIN --*/
.card{
	background-color: #FFFFFF;
	margin-top: 20px;
	border-radius: 15px;
	box-shadow: 1px 2px 7px 1px;
}
.widget-style{
	box-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.18);
	transition: .2s all;
	height: 190px;
}
.widget-style:hover{
	box-shadow: 3px 2px 11px 0px rgba(0, 0, 0, 0.38);
	transform: scale(1.01,1.01);
}
				/*-- index END --*/
				/*-- categories BEGIN --*/
.customButton{
	margin-bottom: 1px !important;
    margin-top: 1px;
    height: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 5px;
}
.cardLayout{
	margin-left: 4%;
}
.customTable tbody tr td{
	padding-top: 1px !important;
    padding-bottom: 1px !important;
    vertical-align: middle !important;
}
.customModal{
	border-radius: 20px;
}
.customModalHeading{
	background-color: #1ab394;
	color: #ffffff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.customInputForm{
	height: 25px;
	box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.18);
	border-radius: 5px;
}
.customModal-title{
	font-size: 22px;
	margin: 0px;

}
				/*-- categories END --*/
				/*-- subCategories BEGIN--*/
.customSelectForm{
	padding-top: 0px;
	padding-bottom: 0px;
}
				/*-- subCategories BEGIN--*/
				/*-- profile BEGIN-- */
.profile-button-alignment{
	text-align: end;
	margin-top: 1%;
}
				/*-- profile BEGIN-- */
				/*--image BEGIN--*/
.imageCard{
	background-color: #FFFFFF;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0px 1px 1px 1px;
}
.imageCardHeading{
	background-color: #1ab394;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	color: #FFFFFF;
}
				/*--image END--*/
/*-------------------------------------------ADMIN END --------------------------*/				
/*-------------------------------------------SUPER ADMIN BEGIN ------------------*/
