.slideImage{
	min-height: 400px;
	max-height: 400px;
	width:inherit !important;
	min-width: 87%;
}
.imageHeading{
	color:black;
	font-size:30px;
	text-align: center;
	padding-top: 4%;
}
.textDescription{
	text-align: center;
	padding-top: 15%;
	font-size: 50px;
}
.productListImages{
	min-height: 150px;
	max-height: 150px;
	width: inherit !important;
	max-width: 265px;
}


#slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}