/*--------------------------------------------------------------

  Template Name: Subas Ecommerce Responsive Bootstrap Template
  Description: This is html5 template
  Author: codecarnival
  Version: 1.0
  Design and Developed by: codecarnival

Note: This is the file where you can add your custom styles to change the look of the theme. But don't modify "style.css" file.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/
.panel{
	margin-left: 10px;
	}

.panel-title
{
	color: blue !important;
}

#clear
{
	color : black !important;
	margin-top:-6px;
	padding-top: 5px;
	margin-right:-8px !important;
}

.panel-body
{
	background-color:#F3EBEB ;
}

label
{
	color: #5494F2!important;
	margin-top: 10px !important;
}
